<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>League {{ league_id }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<table class='table' style="font-size: 0.8em;white-space: pre-line;">
    <tr>
        <th>.</th>
        {% for player in table %}
        <th>{{ player.0 | replace("-","\n")}}</th>
        {% endfor %}
    </tr>
    {% for player in table %}
    <tr>
        <td>{{ player.0 }}</td>
        {% for player2 in table %}
        <td>{{ teams[player.0][player2.0] | replace(":"," : ") }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br><br>
<table class='table' style="line-height:0em;font-size: 0.8em;">
    <tr>
        <th>Drużyna</th>
        <th>Punkty</th>
        <th>Wygrane mecze</th>
        <th>Przegrane mecze</th>
        <th>Zagrane mecze</th>
        <th>Gole zdobyte</th>
        <th>Gole stracone</th>
        <th>Różnica goli</th>
    </tr>
    {% for player in table %}
    <tr>
        <td>{{player.0}}</td>
        <td>{{ player.1.points }}</td>
        <td>{{ player.1.wins }}</td>
        <td>{{ player.1.losses }}</td>
        <td>{{ player.1.losses + player.1.wins }}</td>
        <td>{{ player.1.goals_scored }}</td>
        <td>{{ player.1.goals_lost }}</td>
        <td>{% if player.1.goals_scored - player.1.goals_lost > 0 %}+{% endif %}{{ player.1.goals_scored -
            player.1.goals_lost }}
        </td>
    </tr>
    {% endfor %}
</table>
<br><br>
<table class='table' style="line-height:0em;font-size: 0.8em;">
    {% for match in last_matches %}
    <tr>
        <td>{{ match.date }}</td>
        <td>{{ match.time }}</td>
        <td>{{ match.team1.player1.name }}</td>
        <td>{{ match.team1.player2.name }}</td>
        <td>{{ match.team1.score }}</td>
        <td>{{ match.team2.score }}</td>
        <td>{{ match.team2.player1.name }}</td>
        <td>{{ match.team2.player2.name }}</td>
    </tr>
    {% endfor %}
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>
