<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi from Flask!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
<table class='table' style="line-height:0em;font-size: 0.8em;">
    <th>Name</th>
    <th>Elo</th>
    <th>Wins</th>
    <th>Losses</th>
    {% for player in players %}
    <tr>
        <td>{{ player.name }}</td>
        <td>{{'%0.2f'| format(player.present_rating|float)}}</td>
        <td>{{ player.wins }}</td>
        <td>{{ player.losses }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<table class="table table-condensed table-hover" style="line-height:0em;font-size: 0.8em;text-align:center">
    <tr style="line-height:1em;font-size: 0.8em">
        <th>Date</th>
        <th>Time</th>
        <th>P1 name <br>& rating</th>
        <th>P2 name <br>& rating</th>
        <th>Avg team <br>rating</th>
        <th>Score 1</th>
        <th>-</th>
        <th>Score 2</th>
        <th>Avg team <br>rating</th>
        <th>P3 name <br>& rating</th>
        <th>P4 name <br>& rating</th>
        <th>Estimation</th>
        <th>Rating <br>change</th>
    </tr>
    {% for match in data %}
    <tr>
        <td>{{ match.date }}</td>
        <td>{{ match.time }}</td>
        <td>{{ match.team1.player1.name }} (<span
                class="smaller">{{ '%0.1f' | format(match.team1.player1.present_rating|float) }}</span>)
        </td>
        <td>{{ match.team1.player2.name }} (<span
                class="smaller">{{ '%0.1f' | format(match.team1.player2.present_rating|float) }}</span>)
        </td>
        <td>{{'%0.1f'| format((match.team1.player2.present_rating + match.team1.player1.present_rating) / 2|float)}}
        </td>
        <td>{{ match.team1.score }}</td>
        <td>-</td>
        <td>{{ match.team2.score }}</td>
        <td>{{'%0.1f'| format((match.team2.player2.present_rating + match.team2.player1.present_rating) / 2|float)}}
        </td>
        <td>{{ match.team2.player1.name }} (<span
                class="smaller">{{ '%0.1f' | format(match.team2.player1.present_rating|float) }}</span>)
        </td>
        <td>{{ match.team2.player2.name }} (<span
                class="smaller">{{ '%0.1f' | format(match.team2.player2.present_rating|float) }}</span>)
        </td>
        <td>({{'%0.1f'| format(match.team1.estimated_score|float)}} :
            {{'%0.1f'| format(match.team2.estimated_score|float)}})
        </td>
        <td>{{'%0.1f'| format(match.team1.rating_change|float)}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>